md-input-container .md-input {
	width: auto;
}

.classified.ng-enter, classified.ng-move {
	transition: .4s all;
	opacity: 0;
}

.classified.ng-enter.ng-enter-active, .classified.ng-move.ng-move-active {
	opacity: 1;
}

/* Why does this animation slow everything down? */

/*.classified.ng-leave {
	animation: .4s fade_classified;
}

@keyframe fade_classified {
	from { opacity: 1; }
	to { opacity: 0; }
}*/